name: Deploy API to Heroku

on:
  push:
    branches:
      - main

env:
  HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
  MONGODB_SECRET_URI: ${{ secrets.MONGODB_SECRET_URI }}
  DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
        
    - name: Create .env file
      uses: skiddph/actions-env@v1.0.2
      with:
        file: .env
        prefix: 'ENV_'
      env:
        ENV_PORT: 4500  
        ENV_DB_NAME: "FastDeliveryCluster" 
        ENV_MONGODB_URI: ${{ env.MONGODB_SECRET_URI }} 
      
    - uses: see/heroku-deploy@master
      with:
        heroku_api_key: ${{env.HEROKU_API_KEY}}
        heroku_app_name: "fastdb-api"
        heroku_email: "nicolas.lacoste.esgi@gmail.com"
        usedocker: true
        
    - name: Notify Discord
      uses: curlimages/curl@v2
      env:
        DISCORD_WEBHOOK_URL: ${{ env.DISCORD_WEBHOOK_URL }}
      with:
        args: |
          -X POST
          -H "Content-Type: application/json"
          -d '{
            "content": "",
            "embeds": [
              {
                "title": "Résultat du build",
                "description": "Build réussi les fuckboys !",
                "color": 65280
              }
            ]
          }'
          ${{ env.DISCORD_WEBHOOK_URL }}
          
    - name: Send Discord notification
      uses: stegzilla/discord-notify@v2
      with:
          webhook_url: ${{ env.DISCORD_WEBHOOK_URL }}
          title: Je suis entrain de mettre à jours l'API !
          message: "**Creator:** ${{ github.event.pull_request.user.login }}\n${{ github.event.pull_request.html_url }}"
          include_image: true
          avatar_url: https://phantom-marca.unidadeditorial.es/f66122513dceb8500602ef9806776ed5/resize/1320/f/jpg/assets/multimedia/imagenes/2022/12/30/16723620780107.jpg
          username: FuckBoy
